<ion-content class='pink'>
  <ion-card class='pink' >
    <ion-card-content class='pink'>
      <form [formGroup]='createForm' (ngSubmit)="createBook()" *ngIf="groups">
        <ion-item class='backi'>
          <ion-label position="floating">Insert Title</ion-label>
          <ion-input formControlName='title'></ion-input>
        </ion-item>

        <ion-item class='backi'>
          <ion-label position="floating">Insert link</ion-label>
          <ion-input formControlName='link'></ion-input>
        </ion-item>

        <ion-item class='backi'>

          <ion-label position="floating">Select a Group</ion-label>
          <ion-select formControlName="group" placeholder="Select A Group" class='pink'>
            <ion-select-option class='pink' *ngFor="let item of groups" ngDefaultControl>{{item}}</ion-select-option>
          </ion-select>

        </ion-item>
        <ion-button color='danger' type='submit' expand="block" shape="round">
          Create
        </ion-button>
      </form>




    </ion-card-content>
  </ion-card>
</ion-content>
